<div class="bg-light p-5 text-center">
    <h4>Created by Metacoding & updated by 9oj0e</h4>
    <h5>☎ 010-****-6286</h5>
    <a href="https://github.com/getinthere" class="btn btn-outline-success">고객센터</a>
    <a href="https://github.com/9oj0e/spring-blog-exam" class="btn btn-outline-info">오시는길</a>
</div>
</body>

</html>